<form role="form" method="POST">
    <h1>Title</h1>
    <input type="text" name="title" />
    <input type="text" name="price" />
    <input type="text" name="liveId" />
    <input type="text" name="desc" />
    
    <input type="submit" />

</form>